.nav-container{
    display: flex;
    justify-content: center;
    background-color: lightslategray;
    padding: 30px;
}
.link{
    margin-right: 20px;
    color: white;
    /* padding-bottom: 20px; */
}